h1 {
	font: bold normal 18pt Verdana, Arial, Helvetica, sans-serif;
	color: #FF0000;
	left: 0px;
	top: 0px;
	text-transform: capitalize;

}
p {
	font: 10pt Verdana, Arial, Helvetica, sans-serif;
	color: #333333;
}
a:link {
	font-weight: bold;
	color: #000099;
	text-decoration: underline;

}
a:visited {
	color: #0033FF;
	text-decoration: underline;
}
a:hover {
	font-weight: bold;
	color: #FF0000;
	text-decoration: underline;
}
a:active {
	color: #999999;
	text-decoration: none;
}
body {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: small;

}

.m0l0o {
	text-decoration: none;
	background-color: #CCCCFF;
	border-top: 1px none #666666;
	border-right: 1px none #666666;
	border-bottom: 1px none #666666;
	border-left: 1px none #666666;


}

.m0l1o {
	text-decoration: none;
	background-color: #CCCCFF;
	border-top: 1px none #666666;
	border-right: 1px none #666666;
	border-bottom: 1px none #666666;
	border-left: 1px none #666666;


}

.m0l0i {
	font-size: 12px;
	font-family: Tahoma, Verdana, Arial;
	padding: 4px;
	text-decoration: none;
	background-color: #CCCCFF;

}

.m0l1i {
	font-size: 12px;
	font-family: Tahoma, Verdana, Arial;
	padding: 4px;
	text-decoration: none;
	background-color: #CCCCFF;

}
ul {
	font-size: 10pt;
}
h2 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14pt;
	font-weight: bold;
	color: #FF0000;
}
.top {
	background-image: url(images/basic/blue4.gif);
}
     
  .menu
  {
   background-color:#2B6Ebb;
   border:1px solid darkblue;
   width:136px;
   font-size:11px;
   font-family:verdana;
   position: absolute;
   font:bold;
   color: #ffffff;
   cursor: hand;
  }
  .item_panel
  {
    width:136px;
    border-left:1px solid darkblue;
    border-right:1px solid darkblue;
    clip:rect(0,136,0,0);
    position:absolute;
  }
  .item_panel a
  {
   text-decoration:none;
   color:black;
   cursor:hand;
  }
  .item
  {
   background-color: #E9F0F8;
   width: 134px;
   font-size: 10px;
   font-family: verdana;
   
  }
.boldblue {
	font-weight: bold;
	color: #0000FF;
}
h3 {
	color: #0000CC;
	line-height: 14px;

}
li {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10pt;
	list-style-position: outside;
}
